
.navigation-bar{
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
}

nav ul{
    list-style: none;
    display: flex;
}
li a{
    padding-right: 30px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    transition: .3s linear;
}
li a:hover{
    color: #FF008E;
}

/*--------------------- 
mobile devices nav 
-----------------------*/
@media only screen and (max-width:688px) {
    .navigation-bar{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav ul{
        padding-left: 0px;
    }
    li a{
        padding-right: 10px;
        font-size: 16px;
    }
}