@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');

/* font */
body{
    font-family: 'Poppins', sans-serif;
}


/* header style */
.header-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hader-info{
    width: 582px;
    height: 270px;
}

.hader-info h1{
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 0px;
}

.header-button{
    color: white;
    font-size: 16px;
    font-weight: 600;
    background-color: #E02C6D;
    padding: 10px 24px;
    border: none;
    border-radius: 41px;
}
